:root {
  --warna-putih: #FFFFFF; 
  --warna-hitam: #1E1E1E; 
  --warna-pink: #FDE2FF; 
  --warna-maroon: #720060; 
  --warna-langit: #D6E6FF; 
  --warna-birutebal: #002772; 
  --warna-abutebal: #3F3F3F; 
  --warna-abutipis: #DCDCDC; 
}

.men {
  color: var(--warna-birutebal);
}
.women {
  color: var(--warna-maroon);
}

* {
  box-sizing: border-box;
  margin: 0;
  font-family: "Poppins", Helvetica, sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url('../bg-pattern.svg');
  display: flex;
}

.container-skeleton {
  position: absolute;
  width: 100%;
  height: 75%;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.relative {
  position: absolute;
  width: 100%;
  height: 100vh;
}

.bg-pattern {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
  background:  linear-gradient(to bottom, rgb(255,255,255,0), rgb(255,255,255,.8)), url('../bg-pattern.svg');
}
.bg-men {
  background-image: linear-gradient(to bottom, var(--warna-langit) 65%, var(--warna-putih) 50%);
}
.bg-women {
  background: linear-gradient(to bottom, var(--warna-pink) 65%, var(--warna-putih) 50%);
}
.bg-unavailable {
  background: linear-gradient(to bottom, var(--warna-abutipis) 65%, var(--warna-putih) 50%);
}


.card {
  background-color: var(--warna-putih);
  margin: auto;
  display: flex;
  align-items: center;
  gap: 2em;
  height: 75vh;
  width: 75vw;
  border-radius: 10px;
  padding: 5em 4em;
  box-shadow: rgb(77, 77, 77) 0em .1em .5em .1em;
  z-index: 2;
}

.card-image{
  flex-grow: 1;
  display: flex;
  width: auto;
  height: inherit;
}
.card-image img{
  flex-grow: 1;
  height: 80%;
  margin: auto;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.grow-1 {
  flex-grow: 1;
}

.gap-2 {
  gap: 2em;
}

.gap-1 {
  gap: 1em;
}

.product-desc {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  max-width: 60%;
}

.description-text {
  flex-grow: 1;
  color: var(--warna-hitam);
}
.product-category {
  color: var(--warna-abutebal);
}
.desc-section {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.bgc-men {
  background-color: var(--warna-birutebal);
  color: var(--warna-putih);
}
.bgc-women {
  background-color: var(--warna-maroon);
  color: var(--warna-putih);
}
.sad-face {
  background-image: url('../sad-face.png');
  background-repeat: no-repeat;
  background-position: center center;
  align-items: center;
}
.border-men {
  border: 3px solid var(--warna-birutebal);
  background-color: var(--warna-putih);
}
.border-women {
  border: 3px solid var(--warna-maroon);
  background-color: var(--warna-putih);
}
.content-unavailable {
  margin: auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  width: 50%;
}
.button {
  border-radius: .5em;
  padding: .5em .5em;
  font-size: large;
}
hr {
  margin: .3em 0 .5em 0;
}

.product-rating {
  display: flex;
  gap: .1em;
}
.rounded-full-solid {
  border-radius: 999px;
  height: 1em;
  width: 1em;
}

.rounded-full {
  border-radius: 999px;
  height: 1em;
  width: 1em;
}
.container-skeleton {
  z-index: 3;
  position: absolute;
}

.container-skeleton * {
  background: linear-gradient(90deg, #f4f4f4 25%, #ffffff 50%, #f4f4f4 75%);
  background-size: 200% 100%;
  animation: skeleton-loading 1.5s infinite linear;
  border-radius: 4px;
  box-shadow: none;
}
.no-skeleton {
  animation: none;
}

@keyframes skeleton-loading {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: 200px 0;
  }
}
.button-skeleton {
  padding: .5em .5em;
  font-size: large;
  border: none;
  height: .6em !important;
}